@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div><h2 class="">Conversor de Moedas</h2></div>
    <div class="total">
        <div class="bloco">
            <div class="sec">
                <label class="" for="selectCurrency1">Quero converter:</label>
                <div class="">
                    <input type="number" id="currencyValue" value="0" class="form-control" required />
                </div>
            </div>
            <div class="sec">
                <label class="" for="selectCurrency1">De:</label>
                <div class="">
                    <select class="form-control" id="selectCurrency1"></select>
                </div>
            </div>
            <div class="switch">
                <label></label>
                <a onclick="switchCurrency();"><img src="~/images/double-arrow.png"></a>
            </div>
            <div class="sec">
                <label class="col-sm-2 col-form-label" for="selectCurrency2">Para:</label>

                <select class="form-control" id="selectCurrency2"></select>
            </div>
        </div>
        <div class="total centralize">
            <h1 id="convertResult">= </h1>
        </div>
        <div class="total gray centralize">
            <h5 id="exactlyResult">Exactly = </h5>
        </div>
    </div>

</div>

<button class="btn btn-primary" onclick="calculate()">Enviar</button>

<div id="container1"></div>

@section Scripts {
    <script src="~/js/Currency.js" ~></script>
    <script src="~/lib/highcharts/highcharts.js"></script>
}
